{
  "plugins": [
    "prettier",
    "jest"
  ],
  "extends": ["plugin:jest/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "no-underscore-dangle": 0,
    "strict": [2, "global"],
    "eqeqeq": [2, "smart"],
    "no-undef": 2,
    "no-console": 1,
    "no-nested-ternary": 2,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
