{
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "root": true,
  "rules": {
    "no-underscore-dangle": 0,
    "strict": [2, "global"],
    "eqeqeq": [2, "smart"],
    "no-undef": 2,
    "no-console": 1,
    "no-nested-ternary": 2,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
